# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

src/environments/firestore_env.ts

.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
www/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

*.cmd
acorn
browserslist
build-optimizer
errno
errno.cmd
esparse
esvalidate
in-install
in-publish
ionic-app-scripts
json5
miller-rabin
mime
mkdirp
ng-xi18n
ngc
node-gyp
node-sass
nopt
nopt.cmd
not-in-install
not-in-publish
purify
rimraf
rollup
sassgraph
semver
sha.js
sshpk-conv
sshpk-sign
sshpk-verify
strip-indent
tsc
tsickle
tslint
tsserver
uglifyjs
uuid
webpack
which 
