page-home {
	.logoimage {
		margin: auto;
		width: 75%;
	}

	.logo {
		text-align: center;
	}

	.home-description {
		font-family: "Humanst521 Lt BT Italic";
		font-style: italic;
		color: #999999;
	}
}
