page-home {

	.flex-center {

	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  resize: vertical;
	  overflow: auto;

	}

	.flex-center p {

	  margin: 0;
	  padding: 20px;
	  
	}

}
