page-home {

		.flex-image {

		  display: flex;
		  justify-content: center;
		  margin-top: 120px;

		}

		.flex-button {

		  display: flex;
		  justify-content: center;
		  align-items: center;
		  margin-left: 35px;
		  width: 80%;

		}
}