<ion-header>

  <ion-navbar color="primary">
    <ion-title>Feed</ion-title>
  </ion-navbar>

  <ion-navbar color="primary">
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  </ion-navbar>

</ion-header>

<ion-content class="list-avatar-page">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
   <ion-list-header>Tugas Pendahuluan</ion-list-header>
    <ion-item text-wrap *ngFor="let tp of tps">
      <ion-avatar item-start>
        <img src="https://image.flaticon.com/icons/svg/183/183333.svg">
      </ion-avatar>
      <h2>{{ tp.code }} | {{ tp.title }}</h2>
      <p>{{ tp.endTime }}</p>
      <button ion-button clear item-end (click)="clickView(tp.file)">View</button>
    </ion-item>
  </ion-list>
  <ion-list>

   <ion-list-header>Modul Praktikum</ion-list-header>
    <ion-item text-wrap *ngFor="let modul of moduls">
      <ion-avatar item-start>
        <img src="https://image.flaticon.com/icons/svg/183/183334.svg">
      </ion-avatar>
      <h2>{{ modul.code }} | {{ modul.title }}</h2>
      <p>{{ modul.startTime }}</p>
      <button ion-button clear item-end (click)="clickView(modul.file)">View</button>
    </ion-item>
  </ion-list>

</ion-content>