<ion-header>

  <ion-navbar color="primary">
    <ion-title>Upload</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
	<div *ngIf="currentUpload">
	  <div class="progress">
	    <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': currentUpload?.progress + '%' }"></div>
	  </div>
	  Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete
	</div>
	
	<ion-list>
	  <ion-item>
	    <ion-label>Course Code</ion-label>
	    <ion-select (ngModelChange)="onChangeCourse($event)" [(ngModel)]="selectedCode">
	      <ion-option *ngFor="let code of course" value="{{ code }}">{{ code }}</ion-option>
	    </ion-select>
	  </ion-item>
	
	  <ion-item>
	    <ion-label>Modul Name</ion-label>
	    <ion-select (ngModelChange)="onChangeModul($event)" [(ngModel)]="selectedIndex">
	      <ion-option *ngFor="let modul of moduls" value="{{ modul.index }}">{{ modul.code }} | {{ modul.title }}</ion-option>
	    </ion-select>
	  </ion-item>

	  <ion-item>
	  	<input (ngModelChange)="onChangeFile($event)" type="file" [(ngModel)]="selectedFile" padding>
	  	<button ion-button block (click)="uploadLaporan()">Upload</button>
	  </ion-item>
	</ion-list>
</ion-content>
